POSTGRES_DB=fleetops
POSTGRES_USER=fleetops
POSTGRES_PASSWORD=fleetops_dev
POSTGRES_PORT=5433
RABBITMQ_USER=fleetops
RABBITMQ_PASSWORD=fleetops_dev
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
REDIS_PORT=6379
