POSTGRES_DB=fleetops
POSTGRES_USER=fleetops
POSTGRES_PASSWORD=fleetops_dev
POSTGRES_PORT=5433
RABBITMQ_USER=fleetops
RABBITMQ_PASSWORD=fleetops_dev
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
REDIS_PORT=6379
KEYCLOAK_PORT=8180
KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME=admin
KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD=fleetops_local_admin
FLEETOPS_USER_CLIENT_SECRET=fleetops-local-user-secret
FLEETOPS_OPERATOR_CLIENT_SECRET=fleetops-local-operator-secret
FLEETOPS_ADMIN_CLIENT_SECRET=fleetops-local-admin-secret
SECURITY_JWT_ISSUER_URI=http://127.0.0.1:8180/realms/fleetops
SECURITY_JWK_SET_URI=http://127.0.0.1:8180/realms/fleetops/protocol/openid-connect/certs
OBSERVABILITY_INTEGRATION_SNAPSHOT_TTL_MS=5000
JAEGER_UI_PORT=16686
OTEL_GRPC_PORT=4317
OTEL_HTTP_PORT=4318
OTEL_TRACES_EXPORTER_ENABLED=false
OTEL_TRACES_SAMPLING_PROBABILITY=1.0
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://127.0.0.1:4318/v1/traces
OTEL_SERVICE_NAME=fleetops-enterprise-platform
